<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791667489223-v88p8eg8g84n32kd42ue66makmmp4l23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791667489223-v88p8eg8g84n32kd42ue66makmmp4l23</string>
	<key>API_KEY</key>
	<string>AIzaSyDosEwinR3eGr5bnI8UCjBCF3XlavDKu48</string>
	<key>GCM_SENDER_ID</key>
	<string>791667489223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.flutterAppFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-firebase-log-c1c41</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-firebase-log-c1c41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791667489223:ios:d0ac3abf5a4e02087341e2</string>
</dict>
</plist>